.main {
  max-width: 800px;
  margin: 0 auto;
}

.todo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 340px;
  margin: 0 auto;

  border: 1px solid black;
  border-radius: 8px;
  padding: 15px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  position: relative;
  margin-block: 20px;
}

input,
textarea {
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid black;
  outline: none;
  background-color: antiquewhite;
  font-size: 1.2rem;
  resize: none;
}

input[type='submit'] {
  background-color: rgb(247, 205, 151);
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}

input[type='submit']:hover {
  filter: brightness(95%);
}

label {
  position: absolute;
  padding: 12px 20px;
  left: 0;
  text-transform: uppercase;
  transition: 0.4s ease;
}

.form-input:valid ~ label,
.form-input:focus ~ label {
  transform: translateX(5px) translateY(-10px);
  padding: 0 10px;
  background-color: antiquewhite;
}

.date-custom {
  transform: translateX(5px) translateY(-10px);
  padding: 0 10px;
  background-color: antiquewhite;
  transition: 0.4s ease;
}

/* card */

.card-wrapper {
  position: relative;
  width: 100%;
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  /* flex-grow: 2; */
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: wheat;
  border-radius: 8px;
  padding: 15px 10px;
  border: 2px solid transparent;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
}

.card .buttons {
  margin-left: auto;
  /* display: inline-flex; */
  display: flex;
  gap: 10px;
  /* justify-content: center; */
  /* align-items: center; */
}

.edit,
.delete {
  font-size: 1.2rem;
  cursor: pointer;
}

.completed {
  background-color: rgb(243, 170, 76);
  border: 2px solid green;
}

.checkbox {
  position: relative;
  margin-right: 20px;
}
.checkbox input:checked {
  accent-color: green;
}

.checkbox input {
  width: 20px;
}

.checkbox::after {
  position: absolute;
  width: 2px;
  height: 28px;
  top: -15px;
  background-color: rgb(252, 190, 109);
  content: '';
  margin-left: 10px;
}

.date-diff {
  color: gray;
  text-align: right;
}

.search-box {
  position: relative;
  width: 300px;

  margin: 30px auto;
}

.search-glass {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}

.search-box:focus-within .search-glass {
  opacity: 0.3;
}

.search-box input {
  padding-right: 45px;
}

.alert {
  text-align: center;
  color: blue;
}

.tasks-quantity {
  position: absolute;
  top: -13px;
  background-color: antiquewhite;
  font-weight: 700;
  padding-inline: 5px;
}
